{% extends 'base.html' %}

{% block titulo %}Listado de activos{% endblock %}

{% block contenido %}

    <table class="table">
        
        <thead>
            <tr>
                <th>Nº serie</th>
                <th>Nombre</th>
                <th>Fecha adquisición</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>
                    <a href="{% url 'activos:detail' obj.id %}">{{obj.num_serie}}</a>
                </td>
                <td>{{obj.nombre}}</td>
                <td>{{obj.fecha_adquisicion}}</td>
                <td>{{obj.get_estado_display}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}