{% extends 'base.html' %}

{% block titulo %}Listado de activos{% endblock %}

{% block contenido %}

    <form class="form" action="" method="get">
        {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Buscar</button>

        {{form.errors}}
    </form>

    <a href="{% url 'activos:crear' %}"  class="btn btn-primary">Añadir activo</a>

    <table class="table">
        
        <thead>
            <tr>
                <th>Nº serie</th>
                <th>Nombre</th>
                <th>Fecha adquisición</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>
                    <a href="{% url 'activos:detail' obj.id %}">{{obj.num_serie}}</a>
                </td>
                <td>{{obj.nombre}}</td>
                <td>{{obj.fecha_adquisicion|date:"d/m/Y"}}</td>
                <td>{{obj.get_estado_display}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


{% endblock %}