{% extends 'base.html' %}

{% block titulo %}{{ object }}{% endblock %}

{% block contenido %}
    <p>Nº serie: {{object.num_serie}}</p>
    <p>Nombre: {{object.nombre}}</p>
    <p>Fecha de adquisición: {{object.fecha_adquisicion}}</p>
    <p>Estado: {{object.get_estado_display}}</p>
    <p>Valor: {{object.valor}}</p>

    <a href="{% url 'activos:editar' object.id %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'activos:eliminar' object.id %}" class="btn btn-danger">Eliminar</a>
{% endblock %}

