<input list="{{ widget.name }}" name="{{ widget.name }}" value="{{ widget.value }}" {% include "django/forms/widgets/attrs.html" %}>
<datalist name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    <option value="o">Oción</option>

    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}
        <optgroup label="{{ group_name }}">
        {% endif %}
        {% for option in group_choices %}
            {% include option.template_name with widget=option %}
            <option value="{{ option.id }}">{{option.name}}</option>
        {% endfor %}
        {% if group_name %}
        </optgroup>
        {% endif %}
    {% endfor %}
</datalist>