{% extends 'base.html' %}

{% block titulo %}{{object}}{% endblock %}

{% block contenido %}

<p>
    <strong>Activo:</strong> {{object.activo}}
</p>
<p>
    <strong>Fecha:</strong> {{object.fecha}}
</p>
<p>
    <strong>Importe:</strong> {{object.costo}}
</p>
<p>
    <strong>Descripción:</strong> {{object.descripcion}}
</p>

<a href="{% url 'reparaciones:editar' object.id %}" class="btn btn-primary">Editar</a>
<a href="{% url 'reparaciones:eliminar' object.id %}" class="btn btn-danger">Eliminar</a>

{% endblock %}